<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="shuttle">
      <section name="service" type="Shuttle.Core.ServiceHost.ServiceHostSection, Shuttle.Core.ServiceHost" />
    </sectionGroup>
  </configSections>

  <shuttle>
    <service
      serviceName="test-service"
      instance="one"
      username="mr.resistor"
      password="ohm"
      startMode="Disabled" />
  </shuttle>
</configuration>